.container {
  background: rgba(239, 240, 241, 1);
  width: 32px;
  height: 32px;
  display: grid;
  padding: 0;
  border-radius: 4px;

  svg {
    margin: auto;
  }

  &:hover {
    background: rgba(217, 217, 217, 1);
  }
}
