.leftSection {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.screenButtons {
  display: flex;
  gap: 17px;
}

.buttonGroup {
  // flex-grow: 1;
  text-align: end;

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;

  img {
    vertical-align: middle;
  }
}
