@import "@/assets/css/type";

.customH2 {
  @extend .h2;

  margin-bottom: 8px;
}

.editable {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
  justify-content: center;

  h1 {
    @extend .h1;
    margin-bottom: unset;
  }
}

.cardFlex {
  display: flex;
  flex-direction: row;
}

.textContainer {
  flex-grow: 1;
  margin: 0 24px;
}

.upsellRight {
  margin: 0 60px;
}

.imagePreview {
  min-width: 72px;
  width: 72px;
  height: 72px;

  background: #f9f7fa;
  border: 1px solid rgba(186, 191, 195, 1);
  border-radius: 2px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;

  img {
    width: 36px;
  }
}
