@import "../../assets/css/type", "../../assets/css/classes.module";

.componentContainer {
  // width: auto !important;
  margin: 0 6rem !important;
  // display: flex;
  justify-content: center;
  // overflow: auto;
  display: inline-block;
  flex-grow: 1;
  // width: 100%;
  max-width: 710px;
}

.buyBox {
  padding: 0 80px;
  padding-top: 40px;
}

.image1 {
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.divider {
  background: #e0e0e0;
  content: "";
  height: 1px;
  flex-grow: 1;
}

.starText {
  @extend .defaultFont;
  font-size: 10px;
  font-weight: 400;
  padding-left: 13.88px;

  position: relative;
  top: 2px;
}

.offer {
  @extend .border1;
  border: none !important;
  background: rgba(0, 128, 96, 1);
  border-color: rgba(0, 128, 96, 1);
  height: 104px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  // font-size: 30px;
  // font-weight: 600;
  // line-height: 35px;
}

.videoTitle {
  @extend .defaultFont;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin-bottom: 15.56px;
}

.callToAction {
  // margin-top: 40px;
  height: 104px;
  background: #f2f2f2;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 30px;
}

.incentiveContainer {
  background: rgba(0, 128, 96, 1);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 22px 10px 2px 10px;
  padding: 6px;

  // p {
  //   padding-bottom: 18px;
  // }
}

.imageZone {
  background: rgba(224, 224, 224, 1);
  height: 240px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.headline {
  @extend .defaultFont;
  // font-weight: 600;
  // margin-bottom: 21px;
  // font-size: 24px;
  // line-height: 20px;
}

.headlineWhite {
  @extend .headline;
  color: white;
  margin-bottom: 0;
}

.dropZone {
  padding: 0.8rem 3.2rem;
  flex-grow: 1;
}

.blankElement {
  position: relative;
  height: 12px;
  border-width: 0 2px;
  border-style: solid;
  border-color: $shopifyGreen;
  background: #d6ebe6;
  display: grid;

  .midLine {
    height: 2px;
    background: $shopifyGreen;
    margin: auto -4px auto 2px;
    margin-left: -2px;
    margin-right: -4px;
    width: calc(100% + 4px);
  }

  .circlePlus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d6ebe6;
    border: 1px solid #d6ebe6;
    // outline: 2px;
    border-radius: 50%;
    width: 24px;
    height: auto;
  }
}
