@import "../../../assets/css/classes.module";

$color: #5cbb00;

.textInput {
  width: 100%;
  position: relative;

  * {
    &:focus-visible {
      outline: none;
      // white-space: pre-line !important;
    }
  }

  //id="editingWrapper"
  .focused {
    z-index: 1500;
    border: 1px solid $color;
    box-shadow: 0px 2px 4px rgba(92, 187, 0, 0.1),
      inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px 0 3px 3px;
    // padding: 9px 18px 13px 18px;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    pointer-events: none;
    display: flex;
    justify-content: center;

    > span {
      width: 24px;
      height: 26px;
      background: $color;
      position: absolute;
      right: -1px;
      top: -27px;
      border: 1px solid $color;
      border-radius: 2px 2px 0px 0px;
      display: grid;
      cursor: pointer;
      pointer-events: all;

      svg {
        margin: auto;
      }
    }
  }

  .styleBar {
    position: absolute;
    // display: block;
    top: -46px;
    cursor: pointer;
    pointer-events: all;
    box-shadow: 0px 4px 10px 0px #00000014;

    display: flex;
  }
}

.hide {
  // display: none !important;
  opacity: 0;
  section {
    pointer-events: none !important;
  }
}

.editWrapper {
  position: relative;
  // width: fit-content;
}
