@import "@/assets/css/type";

.customH2 {
  @extend .h2;

  margin-bottom: 8px;
}

.builderCard {
  display: flex;
  flex-direction: row;
  padding: 24px;

  .editMenu {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}

.upsellRight {
  margin: 0 60px;
}

.imagePreview {
  min-width: 72px;
  width: 72px;
  height: 72px;

  background: #f9f7fa;
  border: 1px solid rgba(186, 191, 195, 1);
  border-radius: 2px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  justify-content: center;

  img {
    width: 36px;
  }
}

.editableUpsellTitle {
  display: flex;
  justify-content: center;
  gap: 5px;

  h2 {
    padding: 6px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
}
