@import "../../assets/css/variables.module";

.container {
  margin: 36px 0;
  // border-bottom: 4px solid #8c9196;
  height: 4px;
  position: relative;
}

.dotSpan {
  border-bottom: 2px dotted #8c9196;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dotSpan2 {
  border-bottom: 2px dotted #8c9196;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 1px;
}

.circle {
  background: #babfc3;
  color: #babfc3;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, calc(-50% + 2px));

  .p {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: inherit;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -22px;
  }
}

.circleGreen {
  @extend .circle;
  background-color: $shopifyGreen;
  color: $shopifyGreen;
}

.progressGreen {
  display: block;
  background-color: $shopifyGreen;
  height: 4px;
  position: absolute;
  top: -1px;
}

.p {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  color: #babfc3;
}
