@import "../../assets/css/type";

.titleContainer {
  padding: 8px;
  padding-left: 10px;
  background: rgba(249, 247, 250, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  @extend .defaultFont;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.template {
  cursor: pointer;
  height: 82px;
  padding: 11px 10px;
  display: flex;

  .image {
    width: 60px;
    height: 60px;
    border: 1px solid #c9cccf;
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 1);
  }

  .textBox {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1c2b32;
    margin-bottom: 4px;
  }
}

.templateActive {
  @extend .template;

  background-color: $shopifyGreen;

  .text {
    color: white;
  }
}
