@import "../../assets/css/classes.module";

.clean {
  border: 0;
  background: none;
  color: unset;
  margin: unset;
  padding: unset;
  outline: unset;
  // display: inherit !important;
  // text-align: center;
  justify-content: center;
  width: fit-content;
  position: relative;
}
