.clean {
  border: 0;
  background: inherit;
  color: inherit;
  margin: inherit !important;
  padding: inherit !important;
  outline: inherit;
  display: inherit !important;
  width: 100%;
  text-align: center;
}
