.clean {
  border: 0;
  background: none;
  color: unset;
  margin: unset;
  padding: unset;
  outline: unset;
  // display: inherit !important;
  width: 100%;
  // text-align: center;
  justify-content: center;
}
