@import "../../../assets/css/type", "../../../assets/css/classes.module",
  "../.module.scss";

.section {
  flex-grow: 1;
}

.iframe {
  height: 240px;
  width: 100%;
}

.imageZone {
  @extend .iframe;

  background: rgba(224, 224, 224, 1);
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  justify-content: center;
}
