@import "../../../assets/css/type", "../../../assets/css/classes.module";

.imageZone {
  background: rgba(224, 224, 224, 1);
  height: 240px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
