.title {
  color: rgba(130, 130, 130, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.container {
  padding-bottom: 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;

  > * {
    margin-bottom: 12px;
  }

  .singleAttribute {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}
