@import "@/assets/css/type";

.customH2 {
  @extend .h2;

  margin-bottom: 8px;
}

.cardFlex {
  display: flex;
  flex-direction: row;

  svg {
    min-width: 30px;
  }
}

.textContainer {
  flex-grow: 1;
  margin: 0 24px;
}
