@import "../../../assets/css/type", "../../../assets/css/classes.module";

.offer {
  @extend .border1;
  border: none !important;
  background: rgba(0, 128, 96, 1);
  border-color: rgba(0, 128, 96, 1);
  height: 104px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  // font-size: 30px;
  // font-weight: 600;
  // line-height: 35px;
}
