@import "@/assets/css/variables.module";

// .rdrInRange,
// .rdrStartEdge,
// .rdrEndEdge {
//   color: $primaryColor !important;
// }

button {
  span {
    &:after {
      background: $primaryColor !important;
    }
  }
}

.rdrDateDisplayWrapper {
  background: #fff;

  &:hover {
    background: #fff;
  }
}

.rdrNextPrevButton,
.rdrNextButton {
  background: rgb(235, 235, 235);

  &:hover {
    background: $primaryActive;
  }
}

.rdrStaticRange {
  .rdrStaticRangeLabel {
    &:hover {
      background: $primaryLight;
    }
  }
}

.rdrDateDisplay {
  margin: 10px 15px 0;
}

.rdrDateDisplayItem {
  background: #eeeeee6b;
  border: 1px solid #b2b2b2;
  box-shadow: none;
}

.rdrMonthAndYearWrapper {
  padding-top: 0;
  height: 50px;
  margin: 0 5px;
}

.rdrCalendarWrapper {
  font-size: 13px;
}

.rdrStaticRangeLabel {
  font-size: 13px;
}

.rdrMonth {
  padding: 0 0.833em 10px 0.833em;
}

.rdrInputRanges {
  display: none;
}

.rdrDefinedRangesWrapper {
  width: 160px;
}

.rdrDayActive {
  .rdrDayNumber {
    font-weight: 500;
  }
}

.rdrStaticRanges button:last-child {
  border: none;
}
