@import "@/assets/css/variables.module";

// .rdrInRange,
// .rdrStartEdge,
// .rdrEndEdge {
//   color: $primaryColor !important;
// }

button {
  span {
    &:after {
      background: $primaryColor !important;
    }
  }
}

.rdrDateDisplayWrapper,
.rdrNextPrevButton,
.rdrNextButton {
  background: $primaryLight;

  &:hover {
    background: $primaryActive;
  }
}

.rdrStaticRange {
  .rdrStaticRangeLabel {
    &:hover {
      background: $primaryLight;
    }
  }
}
