// copied card style from Polaris

.card {
  background-color: var(--p-surface);
  box-shadow: var(--p-shadow-card);
  outline: var(--p-border-width-1) solid transparent;

  min-height: 268px;
  height: 100%;
  padding: 10px;

  :hover {
    button {
      background: var(--pc-button-color-hover);
      border-color: transparent;
      color: var(--pc-button-text);
    }
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  background-color: #fcfbff;
  cursor: pointer;

  // border: 5px dashed #cbcbcb;
  // border-image: url(../../assets/svg/card-border.svg);

  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    border-radius: 9px;
    position: absolute;
    border: 5px dashed #cbcbcb;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
  }
}

@media (min-width: 30.625em) {
  .card {
    border-radius: var(--p-border-radius-2);
  }
}
