.card {
  background: #ffffff;
  /* Border Gray */

  border: 1px solid #babfc3;
  border-radius: 8px;
  padding: 24px;
}

.cardActive {
  @extend .card;

  background: rgba(0, 128, 96, 0.21);

  border: 1px solid #008060;

  > * {
    color: #008060 !important;
  }
}
