@import "variables.module";

.border1 {
  border: 1px solid rgba(201, 204, 207, 1) !important;
  border-radius: 4px !important;
  padding: 8px 12px 8px 12px;
}

.btnClean {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.w100 {
  width: 100% !important;
}

.zIndex2 {
  z-index: 2;
}

.zIndex3000 {
  z-index: 3000;
}

.zIndex1200 {
  z-index: 1200;
}

.defaultFont {
  font-family: $fontFamily;
}

.defaultLineHeight {
  line-height: $lineHeight;
}

.defaultFontWeight {
  font-weight: 400;
}

.text_primary {
  color: $primaryColor;
}

.text_green {
  color: #008060;
}

.text_muted {
  color: #6d7175;
}

.text_red {
  color: red;

  &:hover {
    color: red !important;
  }
}

.line_height_18 {
  line-height: 18px;
}

.line_height_24 {
  line-height: 24px;
}

.line_height_29 {
  line-height: 29px;
}

@mixin font_attribute_x($attribute, $count) {
  @for $i from 1 through $count {
    $value: $i * 100;

    .font_#{$attribute}_#{$value} {
      font-#{$attribute}: #{$value};
    }
  }
}

@include font_attribute_x(weight, 10);

@mixin margin_side_x($side, $count) {
  @for $i from 1 through $count {
    $value: $i * 2;

    .margin_#{$side}_#{$value} {
      margin-#{$side}: #{$value}px;
    }
  }
}

@include margin_side_x(bottom, 10);

.h1 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 24px;
}

.h2 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 20px;
}

.h3 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 18px;
}

.h4 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 16px;
}

.h5 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 15px;
}

.h6 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 14px;
}

.h7 {
  @extend .defaultFont;
  @extend .defaultFontWeight;
  @extend .defaultLineHeight;
  font-size: 12px;
}
