.border1 {
  border: 1px solid rgba(201, 204, 207, 1) !important;
  border-radius: 4px !important;
  padding: 8px 12px 8px 12px;
}

.btnClean {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.w100 {
  width: 100% !important;
}

.zIndex2 {
  z-index: 2;
}

.zIndex3000 {
  z-index: 3000;
}

.zIndex1200 {
  z-index: 1200;
}

.h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

.h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.h5 {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.textPromo {
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}
