@import "variables.module";

:root {
  --p-interactive: black !important;
  --p-interactive-hovered: black !important;
}

// for autocomplete popper
.MuiPopper-root.MuiAutocomplete-popper,
.MuiAutocomplete-popper {
  * {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.MuiPaper-root.MuiMenu-paper.MuiPaper-root.MuiPopover-paper {
  box-shadow: $selectShadow;
  .MuiButtonBase-root.MuiMenuItem-root.Mui-selected {
    background: $primaryActive;
  }
}
