$shopifyGreen: rgba(0, 128, 96, 1);
$navHeight: 56px;
$leftMenuWidth: 320px;
$fontFamily: "SF Pro Display", -apple-system, BlinkMacSystemFont, Roboto,
  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
