@use "sass:color";

$backgroundColor: #f9f7fa;
$shopifyGreen: #008060;
$primaryColor: $shopifyGreen;
$primaryHover: #006e52;
$secondaryHover: rgb(237 235 235);
$secondaryBorder: rgb(186 191 195);
$primaryActive: adjust-color(
  adjust-color($shopifyGreen, $lightness: 65%),
  $blackness: 10%
);
$lightGray: #f2f2f2;
$darkGray: #bdbdbd;
$lightGreen: #5cbb00;
$disabledColor: rgb(224 224 224);
$navHeight: 56px;
$leftMenuWidth: 340px;
// $fontFamily: "SF Pro Display", -apple-system, BlinkMacSystemFont, Roboto,
//   "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
//   "Segoe UI Emoji", "Segoe UI Symbol";
$fontFamily: "Roboto", sans-serif;

$inputWidth: 190px;
$inputPadding: 7.5px 4px 7.5px 12px;
$inputFontSize: 14px;
$inputBorderFocused: $shopifyGreen;
$selectShadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
  0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

:export {
  inputWidth: $inputWidth;
  inputPadding: $inputPadding;
  inputFontSize: $inputFontSize;
  inputBorderFocused: $inputBorderFocused;
  disabledColor: $disabledColor;
  shopifyGreen: $shopifyGreen;
  primaryHover: $primaryHover;
  secondaryHover: $secondaryHover;
  secondaryBorder: $secondaryBorder;
  primaryActive: $primaryActive;
  fontFamily: $fontFamily;
  selectShadow: $selectShadow;
}
