$shopifyGreen: rgba(0, 128, 96, 1);
$disabledColor: rgb(224 224 224);
$navHeight: 56px;
$leftMenuWidth: 340px;
// $fontFamily: "SF Pro Display", -apple-system, BlinkMacSystemFont, Roboto,
//   "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
//   "Segoe UI Emoji", "Segoe UI Symbol";
$fontFamily: "Roboto", sans-serif;

$inputWidth: 190px;
$inputPadding: 7.5px 4px 7.5px 12px;
$inputFontSize: 14px;
$inputBorderFocused: $shopifyGreen;

:export {
  inputWidth: $inputWidth;
  inputPadding: $inputPadding;
  inputFontSize: $inputFontSize;
  inputBorderFocused: $inputBorderFocused;
  disabledColor: $disabledColor;
  shopifyGreen: $shopifyGreen;
  fontFamily: $fontFamily;
}
