@import "type", "overrides";

body {
  @extend .defaultFont;
  // overflow-x: hidden;
}

.editor-text-bold {
  font-weight: bold;
}
.editor-text-italic {
  font-style: italic;
}
.editor-text-underline {
  text-decoration: underline;
}
