@import "../settingFields/.module.scss", "../../assets/css/variables.module",
  "../../assets/css/classes.module";

.doubleAttribute {
  @extend .singleAttribute;
  justify-content: start;
  gap: 12px;

  > * {
    // flex-grow: 1;
    width: 50%;
  }
}

.innerDoubleAttribute {
  @extend .singleAttribute;
  gap: 0;

  .p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.colorInputContainer {
  @extend .border1;
  background: white;
  padding: $inputPadding;
  padding-right: 14px;
  width: $inputWidth;
  display: flex;
  position: relative;

  .input {
    border: none;
    outline: none;
    background: inherit;
    margin-left: 35px;
    overflow: auto;
    padding: 1.5px 2px;
  }

  .colorPicker {
    width: 35px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    cursor: pointer;
    z-index: 1;
    border: 1px solid lightgray;
  }

  .inputColor {
    opacity: 0;
    position: absolute;
    left: 0;
  }
}

.sliderBox {
  @extend .border1;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $inputWidth;
  background-color: white;
  height: 36px;

  span {
    display: flex;
    gap: 2px;
  }

  .pGray {
    color: rgba(130, 130, 130, 1);
  }
}
