@import "../settingFields/.module.scss";

.doubleAttribute {
  @extend .singleAttribute;
  justify-content: start;
  gap: 12px;

  > * {
    // flex-grow: 1;
    width: 50%;
  }
}

.innerDoubleAttribute {
  @extend .singleAttribute;
  gap: 0;

  .p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.colorInputContainer {
  @extend .border1;
  background: white;
  padding: $inputPadding;
  padding-right: 14px;
  width: $inputWidth;
  display: flex;
  position: relative;

  .input {
    border: none;
    outline: none;
    background: inherit;
    margin-left: 35px;
    overflow: auto;
    padding: 1.5px 2px;
  }

  .colorPicker {
    background-color: red;
    width: 35px;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -1px;
    top: -1px;
    bottom: -1px;
    cursor: pointer;
    z-index: 1;
  }

  .inputColor {
    opacity: 0;
    position: absolute;
    left: 0;
  }
}
