@import "@/assets/css/type";

.main {
  display: flex;
  justify-content: end;
}

.leftSectionWrapper {
  position: relative;
}

.leftSection {
  z-index: 1;
  position: fixed;
  top: $navHeight;
  bottom: 0;
  left: 0;
  background-color: #f9f7fa;
  width: $leftMenuWidth;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  display: flex;

  > div:last-child {
    border-bottom: 1px solid rgba(240, 240, 240, 1);
  }

  .leftMenu {
    min-height: 52px;
    display: flex;
    position: relative;
    background: #f9f7fa;
    z-index: 1;

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      .title {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }

      span {
        height: 3px;
        width: 100%;
        /* Action Primary/Default */
        border-bottom: 1px solid #dbdada;
      }

      &:hover {
        @extend .divActive;
      }
    }

    .divActive {
      p {
        color: #000000;
      }

      span {
        border-bottom: none;
        background: #008060;
        border-radius: 4px 4px 0px 0px;
      }
    }
  }
}

.rightSection {
  margin-left: $leftMenuWidth;
  background-color: rgb(255, 255, 255); // white;
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}
