@import "../../../assets/css/type", "../../../assets/css/classes.module",
  "../.module.scss";

.divider {
  background: #e0e0e0;
  content: "";
  height: 1px;
  flex-grow: 1;
}

.image {
  width: auto;
  min-width: 170px;
  height: 344px;
}

.starText {
  @extend .defaultFont;
  font-size: 10px;
  font-weight: 400;
  padding-left: 13.88px;

  position: relative;
  top: 2px;
}

.order1 {
  order: 1;
}
