@import "@/assets/css/type", "@/assets/css/classes.module";

.ul {
  @extend .border1;

  margin: 0;
  border-radius: 8px !important;
  padding: 8px 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.33);
}

.li {
  padding: 10px 16px;
  list-style: none;
  cursor: pointer;

  &:hover {
    background: #f6f6f7;
  }
}
