@import "@/assets/css/type", "@/assets/css/classes.module", "../.module.scss";

.section {
  flex-grow: 1;
}

.iframeParent {
  display: grid;
}

.iframe {
  margin: auto;
  height: 240px;
}

.imageZone {
  @extend .iframe;

  width: 100%;
  background: rgba(224, 224, 224, 1);
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  justify-content: center;
}
