@import "../../assets/css/classes.module", "../../assets/css/variables.module";

.singleAttribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.flexRow {
  display: flex;
  gap: 7px;
}

.p {
  margin-bottom: 4px;
}

.setting {
  width: $inputWidth;
  display: flex;
  gap: 8px;

  .imagePreview {
    width: 36px;
    height: 36px;

    background: #f9f7fa;
    border: 1px dashed #6d7175;
    border-radius: 2px;
  }
}

.layout {
  justify-content: space-around;
  align-content: center;
  display: flex;

  p {
    text-align: center;
  }
}
