@import "../../../assets/css/type", "../../../assets/css/classes.module";

.componentContainer {
  padding: 0 6rem;
  display: flex;
  justify-content: center;
}

.image1 {
  background: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  width: 100%;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
