@import "../../../assets/css/variables.module";

.container {
  cursor: pointer;
  width: 130px;
  height: 60px;
  border: 1px solid #babfc3;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.containerHover {
  @extend .container;

  background: $primaryColor;
  border: $primaryColor;
}

.fillMainColor {
  fill: $primaryColor;
}

.fillLightGreen {
  fill: $lightGreen;
}

.fillWhite {
  fill: white;
}

.fillLightGray {
  fill: $lightGray;
}

.fillDarkGray {
  fill: $darkGray;
}
