@import "../settingFields/.module.scss";

.doubleAttribute {
  @extend .singleAttribute;
  justify-content: start;
  gap: 12px;

  > * {
    // flex-grow: 1;
    width: 50%;
  }
}

.innerDoubleAttribute {
  @extend .singleAttribute;
  gap: 0;

  .p {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
