@import "@/assets/css/type", "@/assets/css/classes.module";

.dropZone {
  padding: 0.8rem 3.2rem;
  flex-grow: 1;
}

.blankElement {
  position: relative;
  height: 12px;
  border-width: 0 2px;
  border-style: solid;
  border-color: $shopifyGreen;
  background: #d6ebe6;
  display: grid;

  .midLine {
    height: 2px;
    background: $shopifyGreen;
    margin: auto -4px auto 2px;
    margin-left: -2px;
    margin-right: -4px;
    width: calc(100% + 4px);
  }

  .circlePlus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d6ebe6;
    border: 1px solid #d6ebe6;
    // outline: 2px;
    border-radius: 50%;
    width: 24px;
    height: auto;
  }
}
